/* CSS VARIABLES */
:root {
	--text: 10, 26, 18;
	--background: 222, 242, 232;
	--primary: 153, 61, 107;
	--secondary: 236, 208, 208;
	--accent: 171, 68, 171;
}

/* CSS RESET */
* {
	margin: 0;
	padding: 0;
}

body {
	color: rgb(var(--text));
	background-color: rgb(var(--background));
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h3,
h5,
h2,
h4,
h6 {
	color: rgba(var(--primary), 1);
	margin: 1.25rem 0.25 0.25 0.25;
	padding-top: 1.25rem;
}

p {
	font-size: larger;
}

/* NAV */

nav ul {
	background-color: rgb(var(--accent));
	margin: 0 0 0.75rem 0;
}

nav li {
	background-color: rgb(var(--accent));
	color: rgb(var(--secondary));
	padding: 1rem;
	display: inline-block;
	border-radius: 10px;
}

nav li:hover {
	color: rgb(var(--accent));
	background-color: rgb(var(--secondary));
}

/* make this to center stuff */
#wrapper {
	max-width: 75%;
	margin: 0 auto;
}

/* WRAPPER */
#wrapper > * {
	float: none; /* THIS NEESD TO BE LEFT TO MAKE A 2-COL LAYOUT SANS GRID */
}

/* SIDEBAR STYLES */

.sidebar article {
	padding: 1rem 0rem;
}

.sidebar > h2 {
	text-align: center;
}

.sidebar {
	width: 300px;
	background-color: rgba(var(--secondary), 1);
	border-radius: 50px;
	padding: 1.5rem;
	display: none; /* THIS NEESD TO BE BLOCK TO MAKE THE SIDEBAR APPEAR */
	margin: 0 1rem 0 0;
}

/*  MAIN CONTENT STYLES */

main {
	width: 45ch; /* THIS SETS THE WIDTH AT 45 CHAR LONG -- GREAT FOR SMALL SCREENS, NOT FOR BIG! */
	margin: 0 auto;
}

main p {
	margin: 0.5rem;
}

/*  FOOTER STYLES */
footer {
	clear: both;
	padding: 1rem;
	margin: 1rem 0 0 0;
	background-color: rgb(var(--secondary));
	color: rgb(var(--accent));
	text-align: right;
}

/* MEDIA QUERIES */
/*  MOBILE FIRST SAYS WE NEED TO START WITH MOBILE DISPLAY/LAYOUT OF OUR CONTENT */
